body {
    margin: 0;
    text-align: center;
    padding-top: 700px;
}

img {
    border-radius: 50%;
    margin-bottom: 60px;
}

.imageClass {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 700px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.line {
    margin: auto;
    height: 7px;
    background-color: black;
    width: 100px;
}

#bio {
    padding: 50px;
    max-width: 450px;
    line-height: 1.7;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(to bottom right, red, yellow);
    overflow: hidden;
}

.menu {
    list-style: none;
    z-index: 10;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
}

.links {
    float: left;
    padding: 7px;
    color: floralwhite;
    font-size: 25px;
}

.links:hover {
    background-color: darkviolet;
}

h1 {
    line-height: 1.2;
    font-family: 'Lexend Mega', sans-serif;
}

h2 {
    line-height: 1.2;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: blueviolet;
}

h3 {
    line-height: 1.2;
    font-family: 'Lexend Mega', sans-serif;
}

.article:hover {
    color:darkturquoise;
}

a {
    text-decoration:none;
    color:darkblue;
}

html {
    scroll-behavior: smooth;
}